<div class="container p-3">
  <h1>Houses</h1>
</div>
<div class="container">
<%= link_to "Add house", new_house_path, class: 'btn btn-primary mb-3'  %>
</div>
<div class="container">
  <div class="cards">
    <% @houses.each do |house| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= house[:img_src] %> )">
        <%= house.name %>
        <%= link_to edit_house_path(house) do %>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
        <%= link_to house_path(house), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
        <%= link_to '', house_path(house), class: 'link-card' %>
      </div>
    <% end %>
  </div>
</div>
